<div class="content">
  <header>
    <img src="/HeaderIcon.png" style="position: absolute; left: 750px;">
  </header>
  <div class="rightsidebar"></div>
  <div class="leftsidebar"></div>
  <div style="margin-left: 686px; margin-top: 60px; width: 408px; height: 310px; background-color: rgba(365, 365, 365, 0.5); border: 3px solid #263c5b; border-radius: 10px;">
    <h2 style="margin-top: 20px; text-align: center; font-size: 30px;"><%= t :forgot_pass %></h2>

    <%= form_for(resource, as: resource_name, url: password_path(resource_name), data: { turbo: false }, html: { method: :post }) do |f| %>
      <div class="field" style="margin-left: 60px; font-size: 22px;">
        <%= f.label :email, t(:email) %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", :style => "height: 30px; width: 80%; font-size: 18px; margin-top: 5px;" %>
      </div>
      <div class="actions" style="margin-left: 45px;margin-top: 20px; font-size: 22px;">
        <%= f.submit t(:pass_instruct), :style => "height: 30px; width: 320px; font-size: 18px;" %>
      </div>
    <% end %>
    <div style="margin-left: 60px; font-size: 22px; margin-top: 20px;"><%= render "devise/shared/links" %></div>
  </div>
</div>
