<div class="content">
  <header>
    <img src="/HeaderIcon.png" style="position: absolute; left: 750px;">
  </header>
  <div class="rightsidebar"></div>
  <div class="leftsidebar"></div>
  <div style="margin-left: 686px; margin-top: 60px; width: 408px; height: 420px; background-color: rgba(365, 365, 365, 0.5); border: 3px solid #263c5b; border-radius: 10px;">
    <h2 style="margin-top: 20px; text-align: center; font-size: 30px;"><%= t :log_in %></h2>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field" style="margin-left: 60px; font-size: 22px;">
        <%= f.label :email, t(:email) %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", :style => "height: 30px; width: 80%; font-size: 18px; margin-top: 5px;" %>
      </div>

      <div class="field" style="margin-left: 60px; margin-top: 10px; font-size: 22px;">
        <%= f.label :password, t(:pass) %><br />
        <%= f.password_field :password, autocomplete: "current-password", :style => "height: 30px; width: 80%; font-size: 18px; margin-top: 5px;" %>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="field" style="margin-left: 60px; margin-top: 10px; font-size: 22px;">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me, t(:remem), :style => "margin-top: 5px;" %>
        </div>
      <% end %>

      <div class="actions" style="margin-left: 150px;margin-top: 20px; font-size: 22px;">
        <%= f.submit t(:log_in), :style => "height: 30px; width: 100px; font-size: 18px;" %>
      </div>
    <% end %>
    <div style="margin-left: 60px; font-size: 22px; margin-top: 20px;"><%= render "devise/shared/links" %></div>
  </div>
</div>